:host
  min-width: 18rem
  display: flex
  flex-direction: column
  background: var(--bg-light)
  color: var(--text-inverse)
  border-right: 2px solid var(--bg-dark)
  position: relative
  height: 100%

.status
  .warning
    background: orange
    color: black
    padding: var(--space-small)
    .title
      font-size: .8rem
      display: flex
      align-content: center
      .close
        margin-left: auto
        cursor: pointer
    p
      margin: 0

  .error
    display: flex
    align-items: center
    justify-content: center
    background: var(--error)
    color: white
    padding: var(--space-small)
    .indicator
      margin-right: .5rem

.user
  display: flex
  padding: var(--space)
  background: var(--bg)

  .info
    display: flex
    flex-direction: column
    margin-left: 1rem

    .username
      color: var(--color)

    .signout
      font-size: .8rem
      color: var(--text-dark)
      cursor: pointer
      &:hover
        text-decoration: underline

.create_room_spacer
  height: 6rem

.create_room
  position: absolute
  bottom: 0
  left: 0
  right: 0
  border-top: 2px solid var(--bg)
  background: var(--bg-dark)
  height: 5rem

  button
    width: 100%

  input
    width: 100%
